<h1>Weather</h1>

<table>
  <tr>
    <td></td>
    <td>weather</td>
    <td>temperature</td>
    <td>wind</td>
    <td>wind_direction</td>
    <td>rain</td>
  </tr>

<% @weather.hour_reports.each_with_index do |report, i| %>
  <tr>
    <td><%= (@weather.hour_start_at + i.hours).strftime('%m/%d %H') %></td>
    <td><%= report.weather %></td>
    <td><%= report.temperature %></td>
    <td><%= report.wind %></td>
    <td><%= report.wind_direction %></td>
    <td><%= report.rain %></td>
  </tr>
<% end %>
</table>
