<h1>Weather</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th>temp</th>
    <th>wind</th>
    <th>rain</th>
  </tr>

<% @weather.hour_reports.each_with_index do |report, i| %>
  <% if i.zero? || @weather.hour(i).to_i.zero? %>
  <tr>
    <td colspan="5" class="day"><%= @weather.day(i) %></td>
  </tr>
  <% end %>
  <tr>
    <td><%= @weather.hour(i) %></td>
    <td><%= weather_tag report.weather %></td>
    <td><%= report.temperature %></td>
    <td>
      <%= wind_value report %>
      <!--      <%= report.wind_direction %>/<%= report.wind %> -->
    </td>
    <td><%= report.rain %></td>
  </tr>
<% end %>
</table>
