<article>
<div class="hourly-weather">
  <h2>Hourly Weather</h2>
  <!--label for="toggle-hourly" class="hourly-check">
    <div class="btn btn-primary">
      <input type="checkbox" id="toggle-hourly" />
      Hourly
    </div>
  </label-->
  <a href="javascript:void();" onclick="location.reload()">
    <div class="btn btn-primary">Reload</div>
  </a>

  <div class="wrapper">
<% @weather.hour_reports.each_with_index do |report, i| %>
    <% if (hour = hour(repo_time = @weather.time(i))).to_i.zero? || i.zero? %>
    <div class="zurui-sen"></div>
    <div class="day">
      <div><%= month repo_time %></div>
      <div style="font-size: 1.6em;"><%= day repo_time %></div>
      <div>(<%= wday repo_time %>)</div>
    </div>
    <% end %>
    <div class="weather-box <%= 'hidden-item hidden' if hidden? repo_time %>">
      <div class="item hour"><%= hour %></div>
      <div class="item icon">
      <% if icon = weather_icons(report.weather, repo_time).first %>
        <i class="<%= icon %> icon-large"></i>
      <% else %>
        <%= weather_name(report.weather) %>
      <% end %>
      </div>
      <div class="item hourly-temperature"><%= report.temperature %></div>
      <div class="item wind">
        <% wind_direction, wind = wind_values(report) %>
        <i class="direction direction-<%= wind_direction %> icon-long-arrow-up"></i>
        <span class="wind-speed"><%= wind %></span>
      </div>
      <div class="item rain"><%= report.rain %><span style="font-size: 0.2em;">m</span></div>
      <div style="clear: both;"></div>
    </div>
<% end %>
  </div>  <!-- end of div.wrapper -->
</div>    <!-- end of div.hourly-weather -->

<!--hr class="divider" style="clear: both;"-->

<div class="weekly-weather">
  <h2>Weekly Weather</h2>
<% @weather.week_reports.each_with_index do |report, i| %>
  <div class="weather-box">
    <div class='item date font-l'>
      <span class="weekly-weather-month"><%= month report.date %></span>
      <span class="weekly-weather-day"><%= day report.date %></span>
      <span class="weekly-weather-date">(<%= wday report.date %>)</span>
    </div>
    <% icon1, connect, icon2 = weather_icons(report.weather) %>
    <div class="item icon">
      <i class="<%= icon1 %> icon-2x"></i>
    <% if icon2 %>
      <span><%= connect == 1 ? '/' : '|' %></span>
      <i class="<%= icon2 %><%= ' icon-2x' if connect != 1 %>"></i>
    <% end %>
    </div>
    <div class="item temperature">
      <span class="text-danger"><%= report.max_temperature %></span>
      /<span class="text-info"><%= report.min_temperature %></span>
    </div>
    <div class="item rain"><%= report.chance_of_rain %>%</div>
    <div style="clear: both;"></div>
  </div>
<% end %>
  <div style="clear: both;"></div>
</div>    <!-- end of div.weekly-weather -->

</article>

<script>
$(document).ready(function() {
  $("#toggle-hourly").click(function(e) {
    var fn = (e.target.checked ? 'remove' : 'add') + 'Class';
    $(".weather-box.hidden-item")[fn]('hidden');
  });
});
</script>

