<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "WeatherNews" %></title>
    <%#= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%#= favicon_link_tag 'images/favicon.ico', :rel => 'shortcut icon' %>
  </head>

  <body>
    <div id="wrapper" class="width_wrap">
      <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
          <div class="width_wrap">
<% if false %>
            <!--a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </a-->
<% end %>
            <a class="brand" href="/weathers">WeatherNews</a>
            <a class='btn' href='/weathers/61286'>自宅</a>
            <a class='btn' href='/weathers/45061'>柏</a>
<% if false %>
            <div class="nav-collapse width_wrap">
              <div class="pull-right">
                <%#= form_tag destroy_user_session_path, method: :delete, style: 'margin: 0;' do %>
                  <%#= submit_tag 'Logout', class: 'btn' %>
                <%# end #if user_signed_in? %>
              </div>
            </div><!--/.nav-collapse -->
<% end %>
          </div>
        </div>
      </div>

      <article>
        <div class="content">
<% if false %>
          <div class="row">
            <div class="span3 pull-left">
              <div class="well sidebar-nav">
                <h3>Sidebar</h3>
                <ul class="nav nav-list">
                  <li class="nav-header">Sidebar</li>
                  <li><%= link_to "Link1", "/path1"  %></li>
                  <li><%= link_to "Link2", "/path2"  %></li>
                  <li><%= link_to "Link3", "/path3"  %></li>
                </ul>
              </div><!--/.well -->
            </div><!--/div.span3 -->
          </div>
<% end %>
          <div class="span6 pull-right">
            <%= yield %>
          </div>
        </div><!--/content-->

        <footer>
          <p>&copy; beco_ippei 2012</p>
        </footer>
      </article>

      <!-- Javascripts
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <%#= javascript_include_tag "application" %>

    </div><!-- div#wrapper -->
  </body>
</html>
